@import url("https://fonts.googleapis.com/css2?family=Lustria&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #f3efeb;
  color: black;
  font-family: "Lustria", serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

.popover-container {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  /* display: none; */
  /* Initially hidden */
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.loader {
  size: inherit;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #fff;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 0.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* dot loader*/
.dotloader {
  width: 5px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 0.5s infinite linear alternate;
}

@keyframes l5 {
  0% {
    box-shadow:
      10px 0 #000,
      -10px 0 #0002;
    background: #000;
  }

  33% {
    box-shadow:
      10px 0 #000,
      -10px 0 #0002;
    background: #0002;
  }

  66% {
    box-shadow:
      10px 0 #0002,
      -10px 0 #000;
    background: #0002;
  }

  100% {
    box-shadow:
      10px 0 #0002,
      -10px 0 #000;
    background: #000;
  }
}

.Home-page1 {
}
